<!doctype html>

<html lang ="en-US">

<p title="Editor first line"> My name is Tom, this is my <strong> first ever </strong> web app!! </p>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width"/>

    <title> My test page </title>

</head>



</html>